
    <div class="center "  >
        <div style="background-color: rgb(255,255,255,0.15); padding: 1rem;border-radius: 10px;">
            <h1 style="color: yellow; font-size: xx-large;" ><span>{{weatherData.data.current.temp_c}}</span>°C</h1>
            <h3>Its {{weatherData.data.current.condition.text}} and it feels like {{weatherData.data.current.feelslike_c}}°C</h3>
            <p style="color: white; font-size: 1.60rem;">{{weatherData.data.location.name}} <span class="material-icons" style="color: tomato;">location_on</span></p>
            <img src="{{weatherData.data.current.condition.icon}}" alt="">
        </div>
        
        
    </div>
    


